---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import OurMision from "../components/OurMision.astro";
---

<Layout title="Welcome to Astro." , description="">
  <main>
    <Hero/>
    <OurMision/>
  </main>
</Layout>

<style>
  main{
    width: 80%;
    margin: 0 auto;
  }
</style>
