---
const title = "Codempanada";
const text = `
    '''
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim officiis dolores
    explicabo aliquam architecto, corrupti voluptatibus quam nostrum rerum placeat
    laborum. Qui eius dolores explicabo nulla deleniti itaque, eos quia adipisci
    perspiciatis dolorem error optio ad tempora cum dolorum excepturi commodi!
    Voluptatibus possimus ratione, iusto illum labore consequatur unde nostrum,
    totam corrupti nihil ducimus consequuntur voluptatum accusantium ad cumque!
    Velit, inventore iure laborum temporibus totam iste exercitationem suscipit quas
    '''
`;
---

<div
  class="d-flex flex-column justify-content-center align-items-center"
  style="height: 100dvh;"
  id="hero"
>
  <h1 class="display-1">{title}</h1>
  <p class="lead fst-italic text-center text-wrap w-50">{text}</p>

  <div class="d-flex justify-content-center align-items-center">
    <p>Know More <i class="bi bi-arrow-down-short"></i></p>
  </div>
</div>
