<div
  class="d-flex flex-column justify-content-center align-items-center"
  style="height: 80dvh;"
  id="our-mision"
>
  <h2 class="text-center display-2">Mision</h2>
  <p class="lead fst-italic text-center text-wrap w-50">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus sed debitis
    nulla consequatur recusandae, illum incidunt perferendis expedita odio!
    Excepturi, placeat sed minus nobis doloribus dolorem quos porro minima,
    quidem maiores temporibus corporis. Neque, dolore reprehenderit veniam
    necessitatibus itaque illo sit aliquam rerum in error voluptatibus aut non
    earum cum?
  </p>
</div>
