---
interface SocialNetwork {
  title: string;
  url: string;
  nameSvg: string;
}

const ListIconSocialNetwork: Readonly<SocialNetwork[]> = Object.freeze([
  {
    title: "LinkedIn",
    nameSvg: "bi-linkedin",
    url: "https://www.linkedin.com/company/codempanada/", // Change next feature
  },
  {
    title: "Gmail",
    nameSvg: "bi-mailbox",
    url: `/`, // Change next feature
  },
  {
    title: "Github",
    nameSvg: "bi-github",
    url: "/", // Change next feature
  },
  { title: "Twitter", nameSvg: "bi-twitter-x", url: "/" }, // Change next feature
  { title: "Reddit", nameSvg: "bi-reddit", url: "/" }, // Change next feature
]);

interface ILink {
  name: string;
  url: string;
}

const FooterLink: Readonly<ILink[]> = Object.freeze([
  { name: "Home", url: "#hero" },
  { name: "Mision", url: "#our-mision" },
  { name: "Vision", url: "#our-vision" },
  { name: "Values", url: "#our-values" },
  { name: "Projects", url: "#projects" },
]);
---

<footer class="mt-5">
  <div class="d-flex flex-column mx-auto" id="container-footer">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h5 class="display-5 text-center">¿Why contribute to open source?</h5>
      <p class="text-wrap w-75">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et cumque odio
        praesentium aperiam cupiditate, repellendus tenetur, repudiandae sequi
        quos asperiores repellat illum recusandae fuga corporis aliquam
        voluptatem totam minima laboriosam optio molestias. Praesentium
        voluptate omnis eos dolorem provident quisquam numquam nihil beatae
        laudantium, incidunt delectus enim porro unde sint temporibus a
        repellendus tenetur error laboriosam veritatis? Nihil nobis ex sint
        totam, eligendi rem quam, debitis sapiente repudiandae voluptatem, sit
        qui animi! Reiciendis.
      </p>
    </div>
    <div
      class="d-inline-flex justify-content-center align-items-center mx-5 gap-2"
    >
      {
        ListIconSocialNetwork.map((item) => (
          <div class="p-2">
            <a title={item.title} href={item.url} target="_blank">
              <i class:list={["bi", item.nameSvg]} />
            </a>
          </div>
        ))
      }
    </div>

    <div
      class="d-flex flex-column flex-md-row justify-content-around align-items-center py-3"
    >
      <div
        class="d-flex flex-sm-column flex-md-row justify-content-center align-items-center flex-fill"
      >
        <p class="text-center text-wrap w-75">
          Developed with
          <a href="https://astro.build/">Astro Framework</a>
        </p>
        <hr />
        <p class="text-center text-wrap" id="text-powered">
          Powered by <strong
            ><a href="https://pages.github.com/" target="_blank">Github Pages</a>
          </strong>
        </p>
      </div>
      <div
        class="d-flex flex-row justify-content-center justify-content-md-end flex-fill flex-wrap px-sm-1 gap-2"
      >
        {
          FooterLink.map((item) => (
            <span class="">
              <a class="nav-link" href={item.url}>
                {item.name}
              </a>
            </span>
          ))
        }
      </div>
    </div>
    <div
      class="d-flex justify-content-center align-items-center mx-auto"
      id="copyright-footer"
    >
      <p class="text-center text-nowrap">&#169; Codempanada Company</p>
    </div>
  </div>
</footer>
<style>
  #container-footer {
    width: 80%;
  }

  #copyright-footer {
    width: 80%;
  }

  #text-powered {
    width: 75%;
  }

  hr {
    width: 10%;
    padding: 0;
    margin: 0;
    size: 1;
    rotate: -90deg;
    background: black;
  }
</style>
