---
import { Picture } from "astro:assets";

import VisionImage from "../../public/vision.jpg";

const title: Readonly<string> = `Vision`;
const text: Readonly<string> = `
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus sed debitis
    nulla consequatur recusandae, illum incidunt perferendis expedita odio!
    Excepturi, placeat sed minus nobis doloribus dolorem quos porro minima,
    quidem maiores temporibus corporis. Neque, dolore reprehenderit veniam
    necessitatibus itaque illo sit aliquam rerum in error voluptatibus aut non
    earum cum?
`;
---

<section
  class="d-flex flex-column-reverse flex-md-row justify-content-center align-items-center"
  id="our-vision"
>
  <div>
    <Picture
      src={VisionImage}
      alt="vision of company"
      formats={["webp"]}
      class:list={["img-fluid"]}
    />
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-center display-2">{title}</h2>
    <p class="lead fst-italic text-center text-wrap w-75">{text}</p>
  </div>
</section>
<style>
  #our-vision {
    height: 75dvh;
  }
</style>
