---
// Astro Base
import Layout from "../layouts/Layout.astro";

// Astro Components 
import Hero from "../components/Hero.astro";
import OurMision from "../components/OurMision.astro";
import OurVision from "../components/OurVision.astro";
import OurValues from "../components/OurValues.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Welcome to Astro." , description="">
  <main>
    <Hero />
    <OurMision />
    <OurVision />
    <OurValues />
    <Projects />
  </main>
</Layout>

<style>
  main{
    width: 80%;
    margin: 0 auto;
  }
</style>
